<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Dji – квадракоптер
    body
        include header.pug
        section#head-info
            .container
                .head-info
                    .left
                        img(src="img/head-quadcopter.png", alt="Квадракоптер Dji Mavic 2 Pro")
                    .right
                        h1.head-info__title.title Квадрокоптер DJI Mavic 2 Pro
                        p.head-info__subtitle Чудо инженерной мысли
                        .head-info__price
                            span.price 45 900 грн. 
                            span.old-price 50 720 грн. 
                        a.head-info__cta.cta-btn Купить со скидкой
        section#quadcopter-info
            .container
                .quadcopter-info
                    .left
                        h2.quadcopter-info__title.title Характеристики Mavic 2 PRO 
                        ul
                            li Особенности полёта: возвращается домой, на точку, самоуправление
                            li Обнаружение препятствий в нескольких направлениях
                            li Максимальное время полета: 31 минута
                            li Передача видеосигнала 1080р на расстояние до 8 км
                            li Форматы карт-памяти: MicroSD, MicroSDHC, MicroSDXC
                            li Mavic 2 PRO с камерой Hasselblad Разрешение видео: 1080p/2.7K/4K
                            li Тип камеры: интегрированная с карданным подвесом.
                            li Размеры: 322х242х84 мм, в сложенном виде — 214х91х84 мм
                            li Вес: 907 грамм
                    .right
                        img(src="img/quadcopter-info.png", alt="Квадракоптер Dji Mavic 2 Pro")
        section#quadcopter-camera
            .container
                .quadcopter-camera
                    .left
                        img(src="img/quadcopter-camera.png", alt="Квадракоптер Dji Mavic 2 Pro")
                    .right
                        h2.quadcopter-info__title.title Камера дрона
                        ul
                            li Mavic 2 Pro оснащен совершенно новой камерой 
                            li Hasselblad L1D-20c. Совершенно новый 1-дюймовый CMOS-датчик 
                            li имеет активную чувствительную область в четыре раза более 
                            li эффективную, чем оригинальный Mavic Pro. Большой сенсор 
                            li также означает лучшую производительность в условиях низкой
                            li освещенности с более широким диапазоном ISO, а максимальное 
                            li значение ISO увеличено с 3200 до 12800
                        
        section#gift
            .container
                .gift
                    h2.gift-title.title Оформи заказ сейчас и получи бесплатное обучение полету в подарок
                    a.cta-btn Заказать и получить подарок
        section#quadcopter-video
            .container
                .quadcopter-video
                    .left
                        h2.quadcopter-video__title.title Видеосъемка с дрона
                        p.quadcopter-video__subtitle Съёмка видео в 4K может происходить с частотой 24, 25 и 30 кадров в секунду, в 2,7K – 24, 25, 30, 48, 50 и 60 fps, а в 1080p – ещё и в 120 fps. Битрейт составляет 100 Мбит/с, и сохраняется видео либо в формате mp4, либо в mov, со сжатием через кодек H.264 и H.265. Тут также можно выбрать режим HDR с глубиной цвета 10 бит: Dlog-M или HLG.Благодаря поддержке видео 4K HDR 10 бит, Mavic 2 Pro можно подсоединить к совместимому с HLG 4K ТВ и просматривать запись в полном цветовом спектре: с увеличенной яркостью и контрастностью, которые делают HDR видео такими привлекательными.
                    .right
                        img(src="img/quadcopter-video.png", alt="Квадракоптер Dji Mavic 2 Pro")
        section#quadcopter-control
            .container
                .quadcopter-control
                    .left
                        img(src="img/quadcopter-control.png", alt="Квадракоптер Dji Mavic 2 Pro")
                    .right
                        h2.quadcopter-control__title.title Управление DJI Mavic 2 Pro
                        p.quadcopter-video__subtitle Прилагаемый пульт дистанционного управления  Mavic серый,с коротким кабелем для подключения к смартфону, который монтируется под контроллером. Два зажима крепко удерживают ваш телефон — они довольно большие, чтобы вместить даже фаблет. На левой клипсе есть вырез, поэтому вы сможете получить доступ к основной кнопке вашего телефона, когдаон установлен в пульте дистанционного управления. Кабели есть в комплекте, они используют порты Lightning, microUSB и USB-C.

        section#cta
            .container
                .cta
                    h2.cta-title.title Оставьте заявку и наш менеджет свяжется с вами
                    form(action="#")
                        input(type="text" placeholder="Ваше имя" required)
                        input(type="text" placeholder="Номер телефона" required)
                        button(type="submit").cta-btn.submit Оставить заявку
        section#advantages
            .container
                .advantages-list
                    .advantages-item
                        img(src="img/delivery.svg", alt="Бесплатная доставка")
                        p Бесплатная доставка
                    .advantages-item
                        img(src="img/experience.svg", alt="Опытные специалисты")
                        p Опытные специалисты
                    .advantages-item
                        img(src="img/quality.svg", alt="Гарантия качества")
                        p Гарантия качества
                    .advantages-item
                        img(src="img/price.svg", alt="Лучшая цена")
                        p Лучшая цена
                    .advantages-item
                        img(src="img/support.svg", alt="Тех. поддержка 24/7")
                        p Тех. поддержка 24/7
        section#feedback.feedback
                h2.feedback-title.title Отзывы
                .feedback-list
                    .feedback-item
                        img(src="img/feedback-image.png", alt="Отзыв от Виктории Алексеенко")
                        h3.feedback-item__title.title Виктория Алексеенко
                        p.feedback-item__subtitle Давно занимаюсь фото и видео контентом. Увидел у знакомого 1 ую версию Мавика и немного удалось по-управлять. Вдруг пришла идея приобрести себе сие чудо в версии 2.0. Первые впечатления ни с чем не сравнимы. Особенно, когда телефон выключается и вы не видите, что происходит, а дрон в этот момент на 120 метрах, вечером и на расстоянии метров 200. Благо в Мавике, есть всё предусмотренное для безопасноговозврата на точку взлёта
                    .feedback-item
                        img(src="img/feedback-image.png", alt="Отзыв от Виктории Алексеенко")
                        h3.feedback-item__title.title Виктория Алексеенко
                        p.feedback-item__subtitle Давно занимаюсь фото и видео контентом. Увидел у знакомого 1 ую версию Мавика и немного удалось по-управлять. Вдруг пришла идея приобрести себе сие чудо в версии 2.0. Первые впечатления ни с чем не сравнимы. Особенно, когда телефон выключается и вы не видите, что происходит, а дрон в этот момент на 120 метрах, вечером и на расстоянии метров 200. Благо в Мавике, есть всё предусмотренное для безопасноговозврата на точку взлёта
        section#contacts
            .container
                .contacts
                    .left
                        h2.contacts-title.title Контакты
                        hr
                        .contacts-phone
                            p Телефон:
                            p +38-(097)-000-00-00 +38-(097)-000-00-00
                        .contacts-email
                            p E-mail:
                            p Kvadrik@gmail.com
                        .contacts-networks
                            p Мы в социальных сетях:
                            .contacts-networks__container
                                a(href="#")
                                    img(src="img/instagram.svg", alt="instagram")
                                a(href="#")
                                    img(src="img/facebook.svg", alt="facebook")
                                a(href="#")
                                    img(src="img/youtube.svg", alt="youtube")
                    .right
                        form(action="#").contacts-form
                            h2.contacts-form__title.title Введите ваши данные
                            p.contacts-form__subtitle Наш менеджер перезвонит вам в течении 30 минут
                            input(type="text" placeholder="Ваше имя" required)
                            input(type="text" placeholder="Номер телефона" required)
                            button(type="submit").contacts-form__cta.cta-btn.submit Оставить заявку
        .success-popup
            img(src="img/succes-popup.svg", alt="Успех")
            h2.success-popup__title.title Данные успешно отправлены
        .error-popup
            img(src="img/error-popup.svg", alt="Ошибка")
            h2.error-popup__title.title Ошибка
            p.error-popup__subtitle
        .popup-bg
        include footer.pug